:root{
    --brading-color:#A154E7;
    --secondary-color: #F9F7FE;
    --heading-font-family:"Playfair Display", serif;
    --default-font-family:"Poppins", sans-serif;
}

.content h1{
    font-family: var(--heading-font-family);
    font-size: 64px;
    line-height: 80px;
}
.content h2{
    font-family: var(--default-font-family);
    font-style: bold;
    font-size: 18px;
}
.content p{
    font-family: var(--default-font-family);
    font-size: 16px;
    margin: 0;
}
.content a{
    background:var(--brading-color);
    text-decoration:none ;
    color:#FFFFFF;
    border-radius:  4px;
    line-height: 27px;
    padding: 15px 30px;
}
.content h3{
    font-size: 24px;
    font-style:bold ;
    font-family: var(--default-font-family);
}

.content{
    text-align: center;
    padding: 60px 20px;
}

.content-section{
    margin: 30px;
}

h1{
    font-family: var(--heading-font-family);
    font-style: bold;
    font-size: 96px;
}
h2{
    font-size: 64px;
    font-family: var(--heading-font-family);
}
p{
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}
.header h2{
    font-family:var(--default-font-family);
    font-style: normal;
    line-height:2 ;
    font-size: 24px;
    color: #272142;
}
.header p{
    font-family: var(--default-font-family);
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}
.header{
    background: #F4F4F4;
    text-align: center;
    padding: 160px 20px;
}
.btn-branding{
    background:var(--brading-color);
    text-decoration:none ;
    color:#FFFFFF;
    border-radius:  4px;
    line-height: 27px;
    padding: 15px 30px;
}
.btn-branding-outline{
    color: var(--brading-color);
    border: 1px solid var(--brading-color);
    font-size: 18px;
    border-radius:  4px;
    line-height: 27px;
    padding: 15px 30px;
}
@media(max-width:900px){
    h1{
        font-size: 44px;
        line-height: 1.5;
    }
    h2{
        font-size: 44px;
    }
}
.project-description{
    padding: 120px 60px  0;

}
.active{
    color:var(--brading-color) !important;
}
.logo{
    max-height: 70px;
}
.nav-item{
    padding: 0 15px;
}
footer .email-link{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #272142;
    font-size: 24px;
}
footer .email-link:hover{
    color: var(--brading-color);
}
footer .social-links a{
    text-decoration: none;
    color: var(--brading-color);
    background-color: var(--secondary-color);
    font-size: 18px;
    border-radius: 50%;
    margin: 0 20px ;
    padding: 10px 14px;

}